@font-face {
    font-family: 'ForosMedium';
    src: url('./assets/fonts/Foros-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AckelerA';
    src: url('./assets/fonts/AkcelerA-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.foros-medium {
    font-family: 'ForosMedium', sans-serif;
}

.ackeler-a {
    font-family: 'AckelerA', sans-serif;
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    display: flex;
    animation: infiniteScroll 30s linear infinite;
}
