@import "tailwindcss";


@theme {
    --color-primary: #f7501f;
    --color-secondary: #ffe0d3;
    --color-admin-primary: #3c91e6;
    --color-admin-black: #342e37;
    --color-admin-white: #f9f9f9;
    --color-admin-gray: #eeeeee;
}